# Python
__pycache__/
*.pyc
.venv/

# Environment
.python-version
config.yaml

# Dev notes
.dev/

# Chalice
chalice_app/.chalice/deployed/
chalice_app/.chalice/deployments/
chalice_app/.chalice/config.json

# Lock file
uv.lock
