# Port Guardian Configuration

accounts:
  primary:
    id: "111111111111"
    regions:
      - ap-southeast-1
      - ap-northeast-1
      - us-west-2
  secondary:
    id: "222222222222"
    role_arn: "arn:aws:iam::222222222222:role/port-guardian-target-role"
    regions:
      - ap-southeast-1
      - ap-northeast-1
      - us-west-2

cognito:
  region: ap-southeast-1
  user_pool_id: ap-southeast-1_XXXXXXXXX
  client_id: xxxxxxxxxxxxxxxxxxxxxxxxx

target_tag:
  key: port-guardian
  value: enabled

target_ports:
  - 22
  - 3389

max_entries: 20

lambda:
  deploy_region: ap-southeast-1
